<div id="mark_table">
	<table style="width: 100%">
		<tbody>
			{{each(i, mark) marks}}
			<tr>
				<td class="tete" style="font-size: 2em; font-weight: bold;">${__(mark.kind)}</td>
				<td class="mark"><canvas class="annim_mark" height="40" width="180">${mark.value}</canvas></td>
        {{if (mark.kind == "Choreography" && ( bonus > 0 || malus > 0 ))}}
        		<td class="mark">
          			{{if (bonus == 1)}}
              			<img src=images/icons/bonus.png height="60"/>
          			{{/if}}
					{{if (bonus == 2)}}
						<img src=images/icons/bonus2.png height="60"/>
					{{/if}}
					{{if (bonus == 3)}}
						<img src=images/icons/bonus3.png height="60"/>
					{{/if}}
					{{if (malus == 1)}}
						<img src=images/icons/malus.png height="60"/>
					{{/if}}
					{{if (malus == 2)}}
						<img src=images/icons/malus2.png height="60"/>
					{{/if}}
					{{if (malus == 3)}}
						<img src=images/icons/malus3.png height="60"/>
					{{/if}}
					{{if (malus == 4)}}
						<img src=images/icons/malus4.png height="60"/>
					{{/if}}
					{{if (malus == 5)}}
						<img src=images/icons/malus5.png height="60"/>
					{{/if}}
					{{if (malus == 6)}}
						<img src=images/icons/malus6.png height="60"/>
					{{/if}}
				</td>


        {{/if}}
      </tr>
			{{/each}}
			<tr>
				<td class="tete" style="font-size: 2em; font-weight: bold; color: #B52">${__(overall.kind)}</td>
				{{if (overall.value >= 0)}}
				<td class="mark" style="background-color: #B52;"><canvas class="annim_mark" height="40" width="180"  style="color: red;">${overall.value}</canvas></td>
				{{/if}}

				{{if (overall.value < 0)}}
				<td style="font-size: 3em; font-weight: bold; color: #FFF; background-color: #B52;">DSQ</td>
				{{/if}}

				{{if (warnings)}}
				<td class="mark">
					{{if (warnings == 1)}}
					<img src=images/yellow_card.png height="60"/>
					{{else (warnings == 2)}}
					<img src=images/yellow_card.png height="60"/>
					<img src=images/yellow_card.png height="60"/>
					{{else (warnings == 3)}}
					    <img src=images/red_card.png height="60"/>
					{{/if}}										
				</td>
				{{/if}}			
			</tr>
		</tbody>
	</table>
</div>