<div id="battle_result" >
    <div id="battle_result1" class="battle-result-table status${results.classified1}" style="top:0px;" >
        <div>
            <canvas class="annim_mark" height="40" width="180">${results.result1}</canvas>
        </div>
    </div>
    <div id="battle_result2" class="battle-result-table status${results.classified2}" style="top:55%; margin-top: 0.2em;">
        <div>
            <canvas class="annim_mark" height="40" width="180">${results.result2}</canvas>
        </div>
    </div>
</div>

<!--<div id="battle_result_classification" style="top:290px; height:55%; left:84%; width:15%; background-color: blue; position:absolute; display: none;">-->
    <!--<div>-->
      <!--${results.classified1.value}-->
    <!--</div>-->
    <!--<div>-->
        <!--${results.classified2.value}-->
    <!--</div>-->
<!--</div>-->

