<div>
    <canvas id="epyx_extraInfo" style="width:100%;position:absolute;">
        ${ JSON.stringify (extraInfo) }
    </canvas>
    <div id="logo_box"></div>
    <div id="result_flight_name">
        {{html name}}
    </div>
    <div id="logo_competition_box"></div>
	

	<div style="top:290px;left:5%;right:0px;height:30%;position:absolute">
	
		<div style="top:0px;left:0px;right:0px;height:90%;position:absolute;">
			<canvas class="epyx_battle_team_canvas" style="position:absolute;width:100%;height:100%;">
    			${ JSON.stringify(competitor1 ) }
			</canvas>
		</div>
		
		<div style="top:90%;left:0px;right:0px;height:90%;position: absolute;">
			<canvas class="epyx_battle_team_canvas" style="position:absolute;width:100%;height:100%;">
    			${ JSON.stringify( competitor2 ) }
			</canvas>
		</div>
	</div>
    <div id="vs_battle" style="display: none">

    </div>


	<script type="text/javascript" >
        intervalsCleaner.start();
        epyxPafAnimation.clear();
        epyxBanner.changed();
        epyxRenderer.render();
        rotateLogos.start();
        epyxMarkAnimation.start();
        epyxMarkAnimation.registerOnFinish( function() {
            $("#vs_battle").show('slow'); // TODO: Emerge from center!!
        } );
	</script>
</div>
