<div>
    <canvas id="epyx_extraInfo" style="width:100%;position:absolute;">
        ${ JSON.stringify (extraInfo) }
    </canvas>
    <div id="logo_box"></div>
    <div id="result_flight_name">
        {{html name}}
    </div>
    <div id="logo_competition_box"></div>


	<div style="top:200px;left:5%;right:0px;height:66%;position:absolute;">
		<div style="top:0px;left:0px;right:0px;height:45%;position:absolute;">
			<canvas class="epyx_competitor_canvas" style="position:absolute;width:100%;height:100%;">
    			${ JSON.stringify(competitor1 ) }
			</canvas>
		</div>
        <div id="vs_battle" >

        </div>

		<div style="top:55%;left:0px;right:0px;height:45%;position: absolute;">
			<canvas class="epyx_competitor_canvas" style="position:absolute;width:100%;height:100%;">
    			${ JSON.stringify( competitor2 ) }
			</canvas>
		</div>
	</div>


	<script type="text/javascript" >
        intervalsCleaner.start();
        epyxPafAnimation.clear();
        epyxBanner.changed();
        rotateLogos.start();
		epyxRenderer.render();
        epyxMarkAnimation.start();
        epyxMarkAnimation.registerOnFinish( function() {
            $("#vs_battle").show('slow');
        } );
	</script>
</div>
