<div>
    <canvas id="epyx_extraInfo" style="width:100%;position:absolute;">
        ${ JSON.stringify (extraInfo) }
    </canvas>
    <div id="logo_box"></div>
    <div id="result_flight_name">
        {{html name}}
    </div>
    <div id="logo_competition_box"></div>
	
	<div style="top:33%;left:0px;right:0px;height:35%;position:absolute;">
		<canvas class="epyx_competitor_canvas" style="position:absolute;width:100%;height:100%;">
			{{! We test competitor to not throw an exception if it does not exist }}
			{{if competitor}}
    			${ JSON.stringify( competitor ) }
    		{{/if}}
		</canvas>		
	</div>
	<div>
		<canvas id="epyx_banner" fontSize="50" style="width:100%;height:80px;bottom:20px;left:0px">
		${ competitor.ticker }
		</canvas>
	</div>
	<script type="text/javascript" >
        intervalsCleaner.start();
        epyxPafAnimation.clear();
        epyxBanner.changed();
        epyxRenderer.render();
        rotateLogos.start();
	</script>
</div>
