<div>
    <canvas id="epyx_extraInfo" style="width:100%;position:absolute;">
        ${ JSON.stringify (extraInfo) }
    </canvas>
    <div id="logo_box"></div>
    <div id="result_flight_name">
        {{html name}}
    </div>
    <div id="logo_competition_box"></div>
	
	<div style="top:185px;left:0px;right:0px;height:60%;position:absolute;">
		<canvas class="epyx_team_canvas" style="position:absolute;width:100%;height:100%;">
    		${ JSON.stringify(team) }
		</canvas>
	</div>

	<div style="top:290px;left:10%;right:0px;height:30%;position:absolute;">
	
		<div style="top:0px;left:0px;right:0px;height:90%;position:absolute;">
			<canvas class="epyx_competitor_canvas" style="position:absolute;width:100%;height:100%;">
    			${ JSON.stringify( team.pilots[0] ) }
			</canvas>
		</div>
		
		<div style="top:90%;left:0px;right:0px;height:90%;position:absolute;">
			<canvas class="epyx_competitor_canvas" style="position:absolute;width:100%;height:100%;">
    			${ JSON.stringify( team.pilots[1] ) }
			</canvas>
		</div>
	</div>
	
	<div>
		<canvas id="epyx_banner" fontSize="50" style="width:100%;height:80px;bottom:20px;left:0px">
		${team.ticker}
		</canvas>
	</div>
	<script type="text/javascript" >
        intervalsCleaner.start();
        epyxPafAnimation.clear();
        epyxBanner.changed();
        rotateLogos.start();
		epyxRenderer.render();
	</script>
</div>
