<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:lift="http://liftweb.net/">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<title>Acropyx Live Displayer</title>
	<link rel="stylesheet" type="text/css" href="styles.css" />

	<script type="text/javascript" src="scripts/jquery-1.6.1.js"></script>
	<script type="text/javascript" src="scripts/epyx_scroller.js"></script>
	<script type="text/javascript" src="scripts/epyx_mark_anim.js"></script>
	<script type="text/javascript" src="scripts/epyx_div_anim.js"></script>
	<script type="text/javascript" src="scripts/epyx_renderer.js"></script>
	<script type="text/javascript" src="scripts/epyx_paf_anim.js"></script>
	<script type="text/javascript" src="scripts/acropyx_competitor_renderer.js"></script>
	<script type="text/javascript" src="scripts/acropyx_team_renderer.js"></script>
    <script type="text/javascript" src="scripts/acropyx_battle_team_renderer.js"></script>
	<script type="text/javascript" src="scripts/epyx_mark_scroll.js"></script>
	<script type="text/javascript" src="scripts/rotate_logos.js"></script>
	<script type="text/javascript" src="scripts/intervals_cleaner.js"></script>

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" >
		function tenantFromHostname(hostname) {
	        return hostname.split(".")[0];
		};
	    var socket = io.connect('' + document.domain + ':' + document.location.port + '/' + tenantFromHostname(document.domain));
	    socket.on('js-exec', function(msg) {
	    	eval(msg);
	    });
	    socket.on('set-content', function(msg) {
	    	$("div.dynamicContent").html(msg);
	    });
	</script>
</head>
<body>
	<div id="main">
		<!-- Content -->
		<div class="dynamicContent">
		{{html body}}
		<!-- end content -->
		</div>
	</div>
</body>
</html>