<div>
	<div class="logo_box"></div>
    <div class="result_flight_name">
        <span>{{html name}}</span>
    </div>
    <div class="logo_competition_box"></div>

    <div id="mark_table_result">
        <canvas id="epyx_scrolling_table" style="width:100%;position:absolute;">
            ${ JSON.stringify( competitors ) }
        </canvas>
    </div>

    <div style="position:absolute;bottom:0px;height:30px">
        <canvas id="epyx_banner" fontSize="26" style="width:100%;height:30px;bottom:0px;left:0px">
            ${ text }
        </canvas>
    </div>
	
	<div style="position:absolute;bottom:0px;height:1px"></div>

</div>
<script type="text/javascript">
    intervalsCleaner.start();
    epyxPafAnimation.clear();
    epyxBanner.changed();
    epyxRenderer.render();
    rotateLogos.start();

    epyxPafAnimation.clear();
    epyxMarkTableScroll.start();
</script>
