<div>
    <canvas id="epyx_extraInfo" style="width:100%;position:absolute;">
        ${ JSON.stringify (extraInfo) }
    </canvas>
    <div id="logo_box"></div>
    <div id="result_flight_name">
        {{html name}}
    </div>
    <div id="logo_competition_box"></div>
	
	<div style="top:200px;left:10px;right:10px;height:200px;position:absolute;">
		<canvas class="epyx_competitor_canvas" style="position:absolute;width:100%;height:100%;">
    		{{! We test competitor to not throw an exception if it does not exist }}
			{{if competitor}}
    			${ JSON.stringify( competitor ) }
    		{{/if}}
		</canvas>		
	</div>
	
	{{html __template('_ResultTable',$data)}}

  {{if $data.overall.value > 0 }}
	<div class="rank" hidden="true">${rank}</div>
    {{/if}}

	<script type="text/javascript" >
        intervalsCleaner.start();
        epyxPafAnimation.clear();
        epyxBanner.changed();
        epyxRenderer.render();
        rotateLogos.start();
		epyxMarkAnimation.start();
		epyxMarkAnimation.registerOnFinish( function() { 
			$("div.rank").show( 'fast' );
		} );
	</script>
</div>
