<div>
    <canvas id="epyx_extraInfo" style="width:100%;position:absolute;">
        ${ JSON.stringify (extraInfo) }
    </canvas>
    <div id="logo_box"></div>
    <div id="result_flight_name">
        {{html name}}
    </div>
    <div id="logo_competition_box"></div>

    <div id="battle_result_box">


            <canvas class="epyx_battle_team_canvas" style="position:absolute;height:45%; left:3%; width: 80%;">
                ${ JSON.stringify(competitor1 ) }
            </canvas>




            <canvas class="epyx_battle_team_canvas" style="position:absolute;height:45%; width: 80%; left:3%; top: 50%;">
                ${ JSON.stringify( competitor2 ) }
            </canvas>


        <!--<div id="vs_battle" style="top:290px;left:5%;right:0px;height:60%;position:absolute; z-index: 3">-->

        <!--</div>-->

        {{html __template('_ResultBattle',$data)}}
    </div>



	<script type="text/javascript" >
        intervalsCleaner.start();
        epyxPafAnimation.clear();
        epyxBanner.changed();
        epyxRenderer.render();
        rotateLogos.start();
        epyxMarkAnimation.start();
        epyxMarkAnimation.registerOnFinish( function() {
            $("div.status0").addClass('classified-status0');//.show( 'slow' );
            $("div.status1").addClass('classified-status1');
            $("div.status2").addClass('classified-status2');
        } );
	</script>
</div>
