<div>
    <canvas id="epyx_extraInfo" style="width:100%;position:absolute;">
        ${ JSON.stringify (extraInfo) }
    </canvas>
    <div id="logo_box"></div>
    <div id="result_flight_name">
        {{html name}}
    </div>
    <div id="logo_competition_box"></div>
	
	<div style="top:200px;left:0px;right:0px;height:60%;position:absolute;">
		<canvas class="epyx_team_canvas" style="position:absolute;width:100%;height:100%;">
    		${ JSON.stringify(team) }
		</canvas>
	</div>

	{{html __template('_ResultTable',$data)}}
	
	<div class="rank" hidden="true">${rank}</div>
	
	<script type="text/javascript" >
        intervalsCleaner.start();
        epyxPafAnimation.clear();
        epyxBanner.changed();
        epyxRenderer.render();
        rotateLogos.start();
		epyxMarkAnimation.start();
		epyxMarkAnimation.registerOnFinish( function() { 
			$("div.rank").show( 'fast' );
		} );
	</script>
</div>
