<div id="timerBox"></div>
<div>
    <canvas id="epyx_extraInfo" style="width:100%;position:absolute;">
        ${ JSON.stringify (extraInfo) }
    </canvas>
    <div id="logo_box"></div>
    <div id="result_flight_name"></div>

    <div id="logo_competition_box"></div>
</div>

<div id="mark_table_result">
    <canvas id="epyx_scrolling_table" style="width:100%;position:absolute;">

    </canvas>
</div>


<div style="position:absolute;bottom:0px;height:30px">
    <canvas id="epyx_banner" fontSize="26" style="width:100%;height:30px;bottom:0px;left:0px">
        ${ text }
    </canvas>
</div>



<script type="text/javascript">
    intervalsCleaner.start();
    epyxPafAnimation.clear();
    epyxBanner.changed();
    epyxRenderer.render();
    rotateLogos.start();

    var rank1 = '{{html ranking1.name}}';
    var rank2 = '{{html ranking2.name}}';

    if (rank1 !== '' && rank2 !== '' ){
        var message = "Synchro ranking will be displayed in ";
        var timer;
        var totalSeconds;

        //Append template
        $('#result_flight_name').html('<span>{{html ranking1.name}}</span>');
        $('#epyx_scrolling_table').html('${ JSON.stringify( ranking1.competitors ) }');

        epyxMarkTableScroll.start();

        var i = 0;
        var rotateRankingInterval = window.setInterval(function(){

            epyxPafAnimation.clear();

            if (i === 0){
                $('#result_flight_name').html('<span>{{html ranking2.name}}</span>');
                message = "Solo ranking will be displayed in  ";

                $('#epyx_scrolling_table').html('${ JSON.stringify( ranking2.competitors ) }');
                i = 1;

            }
            else{
                $('#result_flight_name').html('<span>{{html ranking1.name}}</span>');
                message = "Synchro ranking will be displayed in  ";
                $('#epyx_scrolling_table').html('${ JSON.stringify( ranking1.competitors ) }');
                i = 0;

            }
            totalSeconds = 180;
            epyxMarkTableScroll.start();
        }, 180000);

        sessionStorage.setItem("rotateRankingInterval", rotateRankingInterval);

        function CreateTimer(timerId, time) {
            timer = document.getElementById(timerId);
            totalSeconds = time;

            UpdateTimer();

            var timerTimeout = window.setTimeout("Tick()", 1000);
            sessionStorage.setItem("timerTimeout", timerTimeout);

        }

        function Tick() {
            totalSeconds -= 1;
            UpdateTimer();

            var timerTimeout = window.setTimeout("Tick()", 1000);
            sessionStorage.setItem("timerTimeout", timerTimeout);
        }

        function UpdateTimer() {
            var seconds = totalSeconds;

            var minutes = Math.floor(seconds / 60);
            seconds -= minutes * (60);

            var timeStr = LeadingZero(minutes) + ":" + LeadingZero(seconds);

            timer.innerHTML = message + timeStr;
        }

        function LeadingZero(time) {
            return (time < 10) ? "0" + time : + time;
        }

        CreateTimer("timerBox", 180);
    } else{
        if(rank1 !== ''){
            //Append template
            $('#result_flight_name').html('<span>{{html ranking1.name}}</span>');
            $('#epyx_scrolling_table').html('${ JSON.stringify( ranking1.competitors ) }');
            epyxMarkTableScroll.start();
        } else {
            if (rank2 !== '') {
                //Append template
                $('#result_flight_name').html('<span>{{html ranking2.name}}</span>');
                $('#epyx_scrolling_table').html('${ JSON.stringify( ranking2.competitors ) }');
                epyxMarkTableScroll.start();
            }
        }
    }
</script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-52945958-1', 'auto');
    ga('send', 'pageview');

</script>


