<div>

	<div id="sponsors_logos">

	</div>
	<div style="position:absolute;bottom:0px;height:1px"></div>

</div>

<script type="text/javascript">
    intervalsCleaner.start();
    epyxPafAnimation.clear();
    epyxBanner.changed();
    epyxRenderer.render();
    rotateLogos.start();
</script>
