<div style="width:100%;height:100%;">

    <canvas id="epyx_extraInfo" style="width:100%;position:absolute;">
        ${ JSON.stringify (extraInfo) }
    </canvas>
    <div id="logo_box"></div>
    <div id="result_flight_name">
        <span>{{html name}}</span>
    </div>
    <div id="logo_competition_box"></div>
	
	
	<canvas id="epyx_banner" fontSize="50" style="width:100%;height:60px;bottom:100px;left:0px">
		${ text }
	</canvas>
	
	
	<img class="waiting" src="images/AcropyxBack.jpg" style="width:44%;position:absolute;top:27%;left:32%;z-index:-1">
	
	<div id="footer">
		<img class="footer_img" style="position:absolute;left:1px;height:100%;" src="images/logo_fai.png"/>
		<img class="footer_img" style="position:absolute;right:1px;height:100%;" src="images/acropyx_logo_100.png"/>
	</div>
	<script type="text/javascript">
        intervalsCleaner.start();
        epyxPafAnimation.clear();
        epyxBanner.changed();
        epyxRenderer.render();
        rotateLogos.start();
    </script>
</div>
