<div>
    <canvas id="epyx_extraInfo" style="width:100%;position:absolute;">
        ${ JSON.stringify (extraInfo) }
    </canvas>
    <div id="logo_box"></div>
    <div id="result_flight_name">
        <span>{{html name}}</span>
    </div>
    <div id="logo_competition_box"></div>
	
	<div id="mark_table_result">
		<canvas id="epyx_scrolling_table" style="width:100%;position:absolute;">
			${ JSON.stringify( competitors ) }
        </canvas>
	</div>
    <div style="position:absolute;bottom:0px;height:30px">
        <canvas id="epyx_banner" fontSize="26" style="width:100%;height:30px;bottom:0px;left:0px">
            ${ text }
        </canvas>
    </div>

	<div style="position:absolute;bottom:0px;height:1px"></div>
	<script type="text/javascript">
        intervalsCleaner.start();
        epyxPafAnimation.clear();
        epyxBanner.changed();
        epyxRenderer.render();
        rotateLogos.start();
		epyxMarkTableScroll.start();
	</script>
</div>
