h1 {
	font-size: 60pt;
	color: gray;
	font-family: arial;
}

h2 {
	font-size: 40pt;
	color: gray;
	font-family: arial;
}

#main {
	font-size: 30pt;
	color: gray;
	font-family: arial;
	top: 1%; /*todo estaba a un 3%*/
	left:1%;
	right:1%;
	bottom:3%;
	position:absolute;
}

#footer {
	position: absolute;
	color: gray;
	font-family: arial;
	width: 100%;
	height: 50px;
	bottom: 0px;
	-border: 2px groove #BBB;
}

#front_div {
	position: absolute;
	top: 25%;
	width: 100%;
	font-size: 100px;
	text-align: center;
}

html {
	width:100%;
	height:100%;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFC), to(#FFFFFF) );
    background: -moz-linear-gradient(center top, #FFC, #FFF);
}

body {
	position:absolute;
	//width: 1280px;
	//height: 768px;
	width:100%;
	height:100%;
	padding: 0;
	margin: 0;
}

#body_part {
	display: table;
	width: 100%;
	height: 70%; //
	border: 1px solid black;
}

#right_part {
	width: 30%;
	display: table-cell;
}


#epyx_banner {
	position: absolute;
	bottom: 80px;
    /*background: #ffffe6;*/
}

#info{
    font-size: 40px;
}

#flight_name {
	text-align: center;
	vertical-align: middle;
	position: absolute;
	left: 10px;
	right: 10px;
	top: 10px;
	height: 70px;
	text-shadow: 0px 10px 15px #999;
	font-weight: bold;
	color: black;
}

#mark_table {
	position: absolute;
	left: 10px;
	right: 20%;
	bottom: 5px;
	font:bold 14pt arial;
	background:rgba(0,0,0,0.8);
	padding-right:2%;
	border-radius: 20px;
	border:solid 3px black;
    text-align: right;
}

th {
	border-radius: 5px;
	border: 3px solid #777;
	border-style: ridge;
	background: -webkit-gradient(linear, center top, center bottom, from(#555), to(#777) );
    background: -moz-linear-gradient(center top, #555, #777);
    color: white;
	padding: 5px;
	padding-right: 20px;
	padding-left: 20px;
	border-style: groove;
	/*-webkit-box-shadow: 0px 10px 15px #999;*/
    box-shadow:#999 0px 10px 15px;
	font-weight: normal;
}

table {
	width: auto;
	border-spacing: 5px;
	margin: 10px;
}

table.result {
	width: auto;
	border-spacing: 2px;
	margin: 0px;
	position: relative;
	padding-right: 20px;
	padding-left: 10px;
    text-align: right;

}

tr.result {
	
}


td.tete {
	font-weight: lighter;
	text-align: right;
	border-radius: 5px;
	border: 3px solid #FFF;
	background: -webkit-gradient(linear, center top, center bottom, from(#CCC),	to(#EEE) );
    background: -moz-linear-gradient(center top, #CCC, #EEE);
	color: black;
	padding: 5px;
	padding-right: 20px;
	padding-left: 20px;
	border-style: groove;
	/*-webkit-box-shadow: 0px 10px 15px #999;*/
    box-shadow:0px 10px 15px #999;

}

#mark_table_result {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 175px;
	bottom: 10px;
	overflow: hidden;
	border-top:1px solid gray;
	border-bottom:1px solid gray;
	/*z-index:1;*/
}


#result_flight_name {
	vertical-align:middle;
	/*z-index:2;*/
	font-size:1.2em;
	position: absolute;
	top: 10px;
	left: 0px;
	right: 0px;
	height:150px;
	font-weight: lighter;
	text-align: center;
	border-radius: 5px;
	border: 3px solid #777;
	border-style: ridge;
	background: -webkit-gradient(linear, center top, center bottom, from(#000), to(#444) );
    background: -moz-linear-gradient(center top, #000, #444);
    color: white;
	padding: 5px;
	padding-right: 20px;
	padding-left: 20px;
	border-style: groove;
    box-shadow: 0px 5px 10px #999;
    /*-webkit-box-shadow: 0px 5px 10px #999;*/
	-webkit-transform: rotateZ(0deg);
}

#logo_box{
    z-index: 3;
    position: absolute;
    height:160px;
	width: 221px;
    top: 12px;
    left:10px;
    background: url(images/aerobatic_logo.png) no-repeat transparent;
    background-size: contain;
	background-position: left center;
}

#logo_competition_box{
    z-index: 3;
    position: absolute;
    height:160px;
    top:12px;
    right: 10px;
    background: url(images/competition_logo.png)  no-repeat transparent;
    width: 221px;
    background-size: contain;
	background-position: right center;
}

td {
	text-align: center;
}

div.flag {
	/*-webkit-box-shadow: 0px 10px 15px #999;*/
    box-shadow: 0px 10px 15px #999;
}

img {
	vertical-align: middle;
}

#waiting_div {
	position:absolute;
	top:300px;
	left:10px;
	right:10px;
	text-align: center;
	font:bold 35pt arial,sans-serif;
	color:#111;
	text-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px
}

div.rank {
	color: black;
	font-size: 130px;
	font-weight: bolder;
	position: absolute;
	right: 40px;
	bottom: 40px;
	background: #EB9;
	-webkit-transform: rotateZ(-20deg);
	border: 15px solid #B52;
	border-radius: 50px;
	padding: 20px;
	/*-webkit-box-shadow: 0px 10px 15px #999;*/
    box-shadow: 0px 10px 15px #999;
	border-bottom-right-radius: 5px;
	hidden:true;
}

img.waiting {
    box-shadow:#000 10px 15px 20px;
	/*-webkit-box-shadow: 10px 15px 20px #000;*/
    /*-moz-box-shadow: 10px 15px 20px #000;*/
}

#sponsors_logos {
    width: 100%;
    height:100%;
    background: top center url(images/sponsors.png) no-repeat;

}


#vs_battle{
    z-index:3;
    position: absolute;
    height:20%;

    top:40%;
    background: url(images/icons/vs_1.png) right center  no-repeat transparent;
    left:5%;
    right:20%;
}


#battle_result_box{
    position: absolute;
    top:260px;
    left: 10px;
    right: 0;
    bottom: 5px;
    font:bold 14pt arial;
    background:rgba(0,0,0,0.8);
    padding-right:2%;
    padding-left: 5%;
    padding-top: 2%;
    border-radius: 20px;
    border:solid 3px black;
}
#battle_result {
    position: absolute;
    left:85%;
    height: 100%;
    width:15%;
    top:8%;
}

.battle-result-table{
    height:45%; left:0px; width:100%; background-color: #32322F; text-align: center;
}



.classified-status0{
    background: url(images/icons/eliminated_1.png)  center  no-repeat #32322F;
}

.classified-status1{
    background: url(images/icons/check_1.png)  center  no-repeat #32322F ;
}

.classified-status2{
    background: url(images/icons/lucky_1.png)  center   no-repeat #32322F;
}

#timerBox {
	position: absolute;
	right: -10px;
	top: -10px;
	z-index: 4;
	background: white;
	color: black;
	font-size: 24px;
	padding: 2px;
}
